@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 120px;
  height: 31px;
 /*margin: 16px 24px 16px 0;*/
  float: left;
}

.ant-layout-content {
  background: gray;
  margin: 7px 7px;
}

.ant-layout-header {
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  background: rgb(1, 89, 160);
}

.ant-card-head {
  min-height: 28px;
}

.ant-card-head-title {
  padding: 3px 0;
}

.ant-card-body {
 padding: 2px;
}

.btn-nolines{
  border: 0px solid;
}

.btn-nolines:not([disabled]):hover {
  background-color: #b2dcff;
  color: black;
}

.ant-table-small .ant-table-thead > tr > th {
  background-color: #f1f1f1;
}

.ant-table.ant-table-small .ant-table-title, .ant-table.ant-table-small .ant-table-footer, .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td {
  padding: 2px 4px;
}

.ant-table table {
  border: 1px solid #c1c1c1;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #e9f5ff;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #c1c1c1;
}

.ant-table.ant-table-small {
  font-size: 11px;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid #d9d9d9;
}

.ant-table.ant-table-small .ant-table-thead .ant-table-column-sorters {
  padding: 2px 2px;
}

.ant-input {
  padding: 4px 4px;
  font-size: 12px; 
  height: 22px;
}

.ant-input[disabled] {
  color: rgb(0 0 0 / 50%);
  background-color: #d6d5d5;
}


.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: rgb(0 0 0 / 50%);
  background: #d6d5d5;
}

.ant-form-item {
  margin-bottom: 1px;
}

.ant-form-item-label > label {
  font-size: 12px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 22px;
  padding: 0 4px;
}

.ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
   line-height: 20px;
 }

 .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  height: 22px;
}

.ant-select-item {
  
  padding: 2px 2px;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #ffe8a1;
  color: #a06000;
  border: 1px solid #d9d9d9;
}

.tFiltroActivo {
  border-collapse: collapse;
  
  width: 100%;
  padding: 0;
}

.tFiltroActivo, td {
  padding: 0;
}

.ant-select {
  font-size: 12px;
}

.r_cell {
  white-space: normal;
  display: table-cell;
  font-size: 10px;
  padding: 0px;
  height: 15px;
  border: 1px solid;
}

.ant-descriptions-row > th, .ant-descriptions-row > td{
  padding-bottom: 3px;
}

.ant-input-search-small .ant-input-search-button {
  height: 22px;
}

.ant-input-group-addon {
  font-size: 12px;
}

.ant-descriptions-bordered .ant-descriptions-view {
  border: 0px; 
}

.ant-descriptions-header {
  border-bottom:#d0d0d0 1px solid;
  margin-bottom: 5px;
}

.ant-descriptions-title {
  font-size: 14px;
}


.ant-descriptions-item-label {
  font-size: 12px;
  color: #b57800;
}

.ant-descriptions-item-content {
  font-size: 12px;
}

.ant-descriptions-small .ant-descriptions-row > th, .ant-descriptions-small .ant-descriptions-row > td {
  padding-bottom: 4px;
}

.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content{
  padding: 3px 4px;
  border-right: 0px;
}

.ant-descriptions-bordered .ant-descriptions-row {
  border-bottom: 1px solid #f3f3f3;
}

.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: #ffffff;
}


.ant-picker-input > input {
  font-size: 12px;
}

.ant-btn-icon-only.ant-btn-sm {
  height: 22px;
  font-size: 12px;
}

.ant-popover-inner-content {
    border: 1px solid #9bd3ff;
     box-shadow: 5px 3px 3px #9be0ff;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 8px 0;
  font-size: 14px;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  border: 1px solid #b9b9b9;
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid #b9b9b9;
}

.ant-form-vertical .ant-form-item-label, .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label {
  padding: 0px 0px;
}

.ant-input-affix-wrapper {
  padding: 0px 4px;
}

.ant-modal-body {
  padding: 10px;
  font-size: 12px;
}

.ant-alert {
  padding: 4px 5px;
}